@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Truculenta:wght@300;400;700&display=swap');


html, body{
  height: 95%;
  font-family: 'Truculenta', sans-serif;
  background-color: rgb(8, 61, 82);
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 60%;
}

.row {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}

h1 {font-size: 3rem;}
h2 {font-size: 2rem;}

.textbox {
  display: flex;
  font-size: 1rem;
  margin: 10px;
  width: 60%;
  height: 40px;
  padding-left: 16px;
  border-radius: 8px; border-width: 2px;
  background-color: rgb(88, 133, 138, 0.4);
}


.button{
  display: flex;
  text-align: center;
  font-family: 'Truculenta';
  font-size: 1.5rem;
  padding: 2px;
  padding-left: 8px;
  height: 45px;
  width: 90px;
  cursor: pointer;
  border-radius: 6px; border-width: 2px;
  background-color: rgb(147, 217, 137);
}